html,
body,
*{
    margin: 0;
    padding: 0;
}
/* .navbar-default{
    background-color: white;
    border: none;
} */
.navbar-header .navbar-brand{
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: gray;
    letter-spacing:2px;
}
.navbar-header .navbar-brand:hover{
    color: skyblue;
}
.navbar-default .navbar-nav > li > a{
    font-family: 'Teko', sans-serif;
    margin: 0px 4px;
    font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover{
    display: inline-block;
    color:skyblue;
    letter-spacing:2px;
    transition: 0.2s;
    
}
.navbar-default .navbar-nav > li > :hover:before{
    content: '{ ';
    transition: 0.2s;

}
.navbar-default .navbar-nav > li > :hover:after{
    content: ' }';
    transition: 0.2s;

}
/* home */
#home{
    height: 660px;
}
#home h1{
    font-family: 'Teko', sans-serif;
    margin-top: 360px;
    color: whitesmoke;
    font-weight: bold;
}
blockquote{
    border-left: none;
}
blockquote footer{
    font-family: 'Dosis', sans-serif;
    color: whitesmoke;
    margin-left: 60px;
}
/* home */

/* about */
#about{
    padding: 100px 0;
}
#about .img{
    border-radius: 50%/60% 60% 40% 40%;
    display: inline-block;
    width: 90%;
    box-shadow: 42px 2px 4px #F7F7F7;
    overflow: hidden;
    margin-top: 20px;
}
.heading{
    font-family: 'Teko', sans-serif;
    text-align: center;
    padding: 25px 0;
}
hr{
    border: none;
    display: inline-block;
    height: 1px;
    background: black;
    width: 35px;
    margin-left: -10px;
 
}
#about i{
    font-size: 30px;
}
#about p{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.8px;
}
#about h4{
    font-family: 'Teko', sans-serif;
}
/* about */

/* service */
#service{
    background: #f7f7f7;
    padding: 100px 0;
}
#service .items{
    background: white;
    padding: 30px;
    text-align: center;

}
#service .items{
    position: relative;
    box-shadow: 4px,4px,10px #F7F7F7;
    margin-top: 80px;
}
#service .items h4{
    font-family: 'Teko', sans-serif;
}
#service .items p{
    font-family: 'Dosis', sans-serif;
}
#service .ic{
    position: absolute;
    height: 60px;
    width: 60px;
    background: white;
    border-radius: 60px;
    top: -40px;
    left: 145px;
    box-shadow: 0px 8px 14px #F7F7F7;
}
#service i{
    font-size: 25px;
    margin-top: 18px;
}
/* service */